.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



audio::-webkit-media-controls-panel {
  color: blue;
  background-color: 
  blue;
  padding: 20px;
  border: red 1px solid;
}



audio::-webkit-media-controls-play-button {
  color: red;
}
.controls {
  color: #707070 !important;
}

/* scrollbar style  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* mobile-tablet-laptop-tv size*/
@media (min-width: 300px) and (max-width: 3000px) {
.audioMainDiv{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
 
  }
  /* tablet-latop size */
  @media (min-width: 600px) and (max-width: 1800px) {
  }
  /* laptop screen size */
  @media (min-width: 1025px) and (max-width: 1800) {
  }

 /* big size laptop */
  @media (min-width: 1400px) and (max-width: 1800) {
}
  /* medium size laptop */
  @media (min-width: 1200px) and (max-width: 1400) {
}
 /* small size laptop */
  @media (min-width: 1025px) and (max-width: 1200px) {
  }
  
  /* mobile-tablet screen size*/
  @media (min-width: 320px) and (max-width: 1024px) {
  }
  
  /* tablet screen size */
  @media (min-width: 600px) and (max-width: 1024px) {
  }
    /* big tablet screen size */
  @media (min-width: 801px) and (max-width: 1024px) {
  }

   /* small tablet screen size */
  @media (min-width: 601px) and (max-width: 800px) {
  }

  /* mobile screen size */
  @media (min-width: 320px) and (max-width: 600px) {

  }

  /* medium size mobile */
  @media (min-width: 481px) and (max-width: 600px) {
  }

  /* small size mobile */
  @media (min-width: 320px) and (max-width: 480px) {
  }


