@font-face {
  font-family: poppinsRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}
body {
  margin: 2%;
  margin-top: 0;
  font-family: poppinsRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
